@charset "utf-8";

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

$color_primary: #24a8bf;
$color_text: #333333;
$color_black: #000000;
$color_white: #ffffff;
$color_gray: #8b8b8b;
$header_height: 156px;
$header_height_sp: 92px;
$footer_height_sp: 150px;
$footer_height: 198px;
