---
import "@/assets/styles/style.scss"
import Logo from "@/components/Logo.astro";

---

<header class="l-header">
  <div class="l-header__inner">
    <div class="l-header__logo" title="トップページへ戻る">
      <a href="/" class="l-header__logoLink">
        <Logo color="#222">
      </a>
    </div>
  </div>
</header>